# Large Monsters
'Pink Rathian': 'Rathian Rosa'

# Small Monsters
'Aptonoth': 'Aptonoth'

# Status
'Poison': 'Veneno'
'Sleep': 'Sueño'
'Paralysis': 'Parálisis'
'Dizzy': 'Mareo'
'Jump': 'Salto'
'Exhaust': 'Cansancio'
'Blast': 'Explosivo'
'Wystone': 'Wypiedra'
'Frenzy': 'Frenesí'
'Frenzy CD': 'Frenesí CD'
'Apex': 'Apex'
'Apex CD': 'Apex CD'
'Rage': 'Furia'

# Crowns
' Gold': ' C. Dorada'
' Silver': ' C. Plateada'
' Mini': ' Mini'